@{
    List<DomainSocialNetwork.Entities.SocialNetwork> redesSociais = Session["SocialNetworkLinks"] != null ? (List<DomainSocialNetwork.Entities.SocialNetwork>)Session["SocialNetworkLinks"] : new List<DomainSocialNetwork.Entities.SocialNetwork>();
}


<!-- bloco newsletter -->

<div class="ui container fluid newsletter-bar">
    <div class="ui container">
        <div class="ui grid middle aligned">
            <div class="row stackable">
                <div class="column">
                    <div class="ui form">
                        <div class="inline fields margin none">
                            <div class="field">
                                <span>
                                    <i class="icon envelope"></i>
                                    <h4 class="header">Assine nossa Newsletter</h4>
                                </span>
                            </div>
                            <div class="field textNews">
                                <span class="text">
                                    Cadastre seu e-mail e receba novidades e promoções.
                                </span>
                            </div>
                            <div class="field">
                                <div class="ui left icon input">
                                    <i class="mail icon"></i>
                                    <input type="text" placeholder="seu@email.com.br" id="email_news">
                                </div>
                            </div>
                            <div class="field">
                                <button class="ui button red" id="btn_news">
                                    Cadastrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- bloco newsletter -->

<div class="ui container box-footer">
    <div class="ui four column stackable grid">
      <div class="column">
                            <img class="ui middle aligned image" src="/assets/image/logo/logo.png" alt="">
                            <!-- bloco central de relacionamento -->
                            <!-- <h4 class="ui inverted header">Central de Relacionamento <i class="ui icon chevron right mobile only"></i></h4> -->
                            <p class="footer-resumo">Nossos produtos atendem o cumprimento da Lei Federal n. 5296/04 e a NBR 9050 que regulamenta as normas de acessibilidade no país.</p>
                            <p class="footer-endereco">Rua Campo Belo, 125<br> Jardim do Lago 12947-111<br>Atibaia-SP</p>
                            <p class="footer-telefone"><b>(11) 3402-3188</b></p>
                            <p>CNPJ: 30.998.098/0001-89</p>

                            <div class="ui link list">
                                <!-- <p>Preparada para esclarecer suas dúvidas e problemas.</p>
                                 <h5>SAC: @LojaCorp.Control.Company._Company.Phone1</h5> -->
                                <a href="/fale-conosco" class="ui button text uppercase tireDuvidas margin top bottom medium"><i class="icon envelope"></i> Entre em Contato</a>
                            </div>
                            <!-- bloco central de relacionamento -->

                            <!-- bloco redes sociais -->

                            <!-- <h4 class="ui header">Siga nos</h4> -->
                           

                            <socialbar>
                                @if (redesSociais.Find(f => f.Identifier == "facebook") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "facebook").Content" target="_blank">
                                        <i class="facebook icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "instagram") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "instagram").Content" target="_blank">
                                        <i class="instagram icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "twitter") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "twitter").Content" target="_blank">
                                        <i class="twitter icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "youtube") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "youtube").Content" target="_blank">
                                        <i class="youtube icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier == "google plus") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "google plus").Content" target="_blank">
                                        <i class="google plus icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier.ToUpper() == "WHATSAPP") != null)
                                {
                                    <a class="text color white" href="https://api.whatsapp.com/send?text=@HttpContext.Current.Request.Url.ToString()" target="_blank" title="WHATSAPP">
                                        <i class="whatsapp icon"></i>
                                    </a>
                                }
                                @if (redesSociais.Find(f => f.Identifier.ToUpper() == "BLOGER") != null)
                                {
                                    <a class="text color white" href="@redesSociais.Find(f => f.Identifier == "bloger").Content" target="_blank" title="Blogger">
                                        <i class="wpforms icon"></i>
                                    </a>
                                }
                            </socialbar>

                            <!-- bloco redes sociais -->

      </div>
      <div class="column">

        <h4 class="ui header">Produtos</h4>

        <div class="ui link list box-produtos-footer">
        <p><b><a class="item" href="/categoria/acessibilidade" class="item" title="Acessibilidade">Acessibilidade</a></b></p>
            <a class="item level-0" href="/categoria/acessibilidade/alarmes-pcdpne" title="Alarmes PCD/PNE">Alarmes PCD/PNE</a>
            <a class="item level-0" href="/categoria/acessibilidade/bancos-articulados" title="Bancos Articulados">Bancos Articulados</a>
            <a class="item level-0" href="/categoria/acessibilidade/elementos-tateis" title="Elementos Táteis">Elementos Táteis</a>
            <a class="item level-0" href="/categoria/acessibilidade/fitas-de-sinalizacao-de-escadas" title="Fitas de Sinalização de Escadas">Fitas de Sinalização de Escadas</a>
            <a class="item level-0" href="/categoria/acessibilidade/kits-elementos-tateis" title="Kits Elementos Táteis ">Kits Elementos Táteis </a>
            <a class="item level-0" href="/categoria/acessibilidade/placas-de-sinalizacao" title="Placas de Sinalização">Placas de Sinalização</a>
            <a class="item level-0" href="/categoria/acessibilidade/pisos-tateis" title="Pisos Táteis">Pisos Táteis</a>
            <a class="item level-0" href="/categoria/acessibilidade/placas-em-braille" title="Placas em Braille">Placas em Braille</a>
        <p><b><a class="item" href="/categoria/ortopedia" class="item" title="Ortopedia"> Ortopedia</a></b></p>
            <a class="item level-0" href="/categoria/ortopedia/andadores" title="Andadores">Andadores</a>
            <a class="item level-0" href="/categoria/ortopedia/bengalas--bastoes" title="Bengalas / Bastões">Bengalas / Bastões</a>
            <a class="item level-0" href="/categoria/ortopedia/cadeiras-de-banho" title="Cadeiras de Banho">Cadeiras de Banho</a>
            <a class="item level-0" href="/categoria/ortopedia/muletas" title="Muletas">Muletas</a>
        <p><b><a class="item" href="/categoria/pecas-de-reposicao" class="item" title="Peças de Reposição">Peças de Reposição</a></b></p>
            <a class="item level-0" href="/categoria/pecas-de-reposicao/antirruidos" title="Antirruídos">Antirruídos</a>
            <a class="item level-0" href="/categoria/pecas-de-reposicao/apoios-axilares" title="Apoios Axilares">Apoios Axilares</a>
            <a class="item level-0" href="/categoria/pecas-de-reposicao/kits-de-manutencao" title="Kits de Manutenção">Kits de Manutenção</a>
            <a class="item level-0" href="/categoria/pecas-de-reposicao/pinos-trava" title="Pinos Trava">Pinos Trava</a>
            <a class="item level-0" href="/categoria/pecas-de-reposicao/ponteiras" title="Ponteiras">Ponteiras</a>
        <p><b><a class="item" href="/categoria/barras-de-apoio" class="item" title="Barras de Apoio"> Barras de Apoio</a></b></p>
            <a class="item level-0" href="/categoria/barras-de-apoio/barras-de-apoio-piso--parede" title="Barras de Apoio Piso / Parede">Barras de Apoio Piso / Parede</a>
                <a class="item level-1" href="/categoria/barras-de-apoio/barras-de-apoio-piso--parede/em-l" title="Em L">Em L</a>
                <a class="item level-1" href="/categoria/barras-de-apoio/barras-de-apoio-piso--parede/em-u" title="Em U">Em U</a>
            <a class="item level-0" href="/categoria/barras-de-apoio/barras-de-apoio-laterais" title="Barras de Apoio Laterais">Barras de Apoio Laterais</a>
                <a class="item level-1" href="/categoria/barras-de-apoio/barras-de-apoio-laterais/articuladas" title="Articuladas">Articuladas</a>
                <a class="item level-1" href="/categoria/barras-de-apoio/barras-de-apoio-laterais/fixas" title="Fixas">Fixas</a>
                <a class="item level-1" href="/categoria/barras-de-apoio/barras-de-apoio-laterais/retas" title="Retas">Retas</a>
            <a class="item level-0" href="/categoria/barras-de-apoio/barras-de-apoio-para-lavatorios" title="Barras de Apoio para Lavatórios">Barras de Apoio para Lavatórios</a>
            <a class="item level-0" href="/categoria/barras-de-apoio/barras-protetoras-de-sifao" title="Barras Protetoras de Sifão">Barras Protetoras de Sifão</a>
        <p><b><a class="item" href="/categoria/acessorios" class="item" title="Acessórios"> Acessórios</a></b></p>
            <a class="item level-0" href="/categoria/acessorios/fitas-dupla-face" title="Fitas Dupla Face">Fitas Dupla Face</a>
        <p><b><a class="item" href="/institucional/323/2684" class="item" title="Plataformas e Elevadores">Plataformas e Elevadores</a></b></p>
        </div>

      </div>
      <div class="column">
            <!-- bloco custom pages -->
            @Html.Action("CustomPages", "Home")
            <!-- bloco custom pages -->
            <h4 class="ui header">Formas de Pagamento</h4>
            @Html.Partial("~/Views/Shared/Common/_Payments_List.cshtml")
            <h4 class="ui header">Formas de Entrega</h4>

            <h4 class="ui header">Selos de Segurança</h4>
            <img src="/assets/image/selo-lets.png">
      </div>
      <div class="column">
        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpontodamobilidade%2F&tabs&width=280&height=181&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId" width="280" height="181" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>

        <!-- InstaWidget -->
        <!--  <a href="https://instawidget.net/v/user/instagram" id="link-d48e6d25d1288a0916d5b30ebc5a02ef0d2d5ce401ef57c42fcb546e289081ac">instagram</a>
        <script src="https://instawidget.net/js/instawidget.js?u=d48e6d25d1288a0916d5b30ebc5a02ef0d2d5ce401ef57c42fcb546e289081ac&width=280px"></script> -->

      </div>

    </div>
    <div class="row">
        <ul class="box-copyright">
            <li><a href="http://www.gobiz.com.br" target="_blank"><img src="/assets/image/logo-gobiz.png"></a></li>
            <li><a href="https://www.jetecommerce.com.br/" target="_blank"><img src="/assets/image/logo-jet.png"></a></li>
        </ul>
    </div>
</div>


<div class="modal-block">

</div>


@*teste pablo*@

